---
layout: default
---

<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    

    <section class="post" itemscope itemtype="http://schema.org/WebPage">

        <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
            <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Kiamehr Rezaee">

            <h2>Hi there!</h2>
        
            <p>I'm Kiamehr, a member of Cardiff NLP group, and I'm currently a PhD Student under spervision of Dr Jose Camacho Collados at Cardiff University.</p>
                
            {% comment %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        
            <h2>My Interests:</h2>
        
            <ul class="skill-list">
                <li>HTML - Jade - Haml - Erb</li>
                <li>Design Responsivo (Mobile First)</li>
                <li>CSS (Stylus, Sass, Less)</li>
                <li>Css Frameworks (Bootstrap, Foundation)</li>
                <li>Javascript (Design Patterns, Testes)</li>
                <li>NodeJS</li>
                <li>AngularJS - ReactJS</li>
                <li>Grunt - Gulp - Yeoman</li>
                <li>Git</li>
                <li>PHP</li>
                <li>Python</li>
                <li>MySQL - MongoDB</li>
                <li>Scrum and Kanban</li>
                <li>TDD e Continuous Integration</li>
            </ul>
        
        </article>
    </section>
    
    

   
    
    
    
    
    {% for post in site.posts %}
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <a class="datetime" href="{{ post.url | prepend: site.baseurl }}">
                    <meta itemprop="datePublished" content="{{post.date}}">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        <span class="day">
                            {{ post.date | date: "%d" }}
                        </span>
                        <span class="month-year">
                            {{ post.date | date: "%B %Y" }}
                        </span>
                    </time>
                </a>
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:40 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">Read more about {{post.title}}</a>
                    </p>

                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
        </article>
    {% endfor %}
    
    {% endcomment %}

</main>
